.awards{
    max-width: 1110px;
    min-height: 823px;
}
.awards-S{
    max-width: 1110px;
    min-height: 101px;
}
.awards-BOX{
    max-width: 1110px;
    min-height: 412px;
    border: 0px;
    border-top: 2px;
    border-color: #D8D8D8;
    border-style: solid;
    &_Bot{
        border-bottom: 2px;
    }
    }
.award-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.awards-filler{
    min-height: 114px;
}
.awards-year{
    text-align: right;
}
.award-text{
    margin-top: 25px;
}
.awards-subtext{
    max-width: 245px;
}
.awards-marg{
    margin-left: 30px;
}
.awards-NLmarg{
    margin-left: -25;
}