
.belowStart{
    max-width: 1110px;
    min-height: 197px;
}
.HardWork{
    max-width: 1079px;
    min-height: 106px;
}
.HW-maintext{
    min-width: 635px;
    min-height: 106px;
}
.HW-secondaries{
    min-width: 350px;
    min-height: 106px;
}
.HW-S-inner{
    min-width: 145px;
    min-height: 106px;
}