
.cont{
    min-height: 110px;
}
.cont-main{
    min-height: 312px;
    min-width: 1110px;
}
.cont-text{
    min-height: 312px;
    max-width: 475px;
}
.cont-form{
    min-height: 291px;
    min-width: 475px;
}
.cont-title{
    min-height: 174px;
    max-width: 465px;
}
.cont-stub{
    min-height: 56px;
    max-width: 445px;
}
.cont-pic-pad{
    min-height: 120px;
}
.cont-pic{
    min-height: 570px;
    max-width: 1110px;
}