.end-buff{
    min-height: 45px;
}
.end-text{
    min-height: 93px;
}
.end-pic{
    min-height: 350px;
}
.end-pad{
    min-height: 132px;
}
.end-mini-pic{
    max-width: 350px;
    min-height: 400px;
}