
.star{
    max-width: 1105px;
    min-height: 387px;
}
.shooting{
    max-width: 635px;
    min-height: 251px;
}
.db-product{
    max-width: 288px;
    min-height: 57px;
}
.db-inline{
    max-width: 212px;
    min-height: 34px;
}
.star-top{
    min-width: 173px;
    min-height: 28px;
}
.star-main{
    min-width: 635px;
    min-height: 191px;
}