@use '_font';

@import '_flex';
@import '_star';
@import '_main';
@import '_picgrid';
@import '_below';
@import '_awards';

body{
    max-width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_land{
        min-height: 3840px;
        height: 100%;
    }
    &_cont{
        max-height: 2068px;
        height: 100%;
    }
    &_last{
        max-height: 3000px;
        height: 100%;
    }  
}
.MaxHW{
    width: 100%;
    height: 100%;
}
.marg{
    margin-top: 0px;
}
.marg2{
    margin-top: 10px;
}
header{
    max-width: 1110px;
    width: 100%;
}
.box{
    max-width: 100px;
    width: 100%;
}
.box-2{
    max-width: 200px;
    width: 100%;
}
.box-3{
    max-width: 300px;
    width: 100%;
}
.fotter{
    max-width: 1110px;

}
.fotter-marg{
    min-height: 47px;
}
.header-marg{
    min-height: 61px;
}
.socials{
    max-width: 95px;
    max-height: 15px;
}
.location{
    border: #c37272;
    border-width: 3px;
    border-style: solid;
}